<div class="container-fluid">
  <p>
    <a [routerLink]="['/inicio']">inicio</a>&nbsp;|&nbsp;
    <a [routerLink]="['/demos']">demos</a>&nbsp;|&nbsp;
    <a [routerLink]="['/chisme/de/hacer/numeros']">calcula</a>&nbsp;|&nbsp;
    <a [routerLink]="['/personas']">personas</a>&nbsp;|&nbsp;
    <a [routerLink]="['/pepito/grillo']">pepito</a>&nbsp;|&nbsp;
    <a [routerLink]="['/falsa']">falsa</a>&nbsp;|&nbsp;
    <a href="/demos">lenta</a>&nbsp;|&nbsp;
  </p>
  <app-notification></app-notification>
  <app-ajax-wait></app-ajax-wait>
  <router-outlet></router-outlet>
</div>

